/almanax.csv
/armes.json
/bestiaire.json
/compagnons.json
/consommables.json
/encyclopedia_state.yaml
/équipements.json
/familiers.json
/harnachements.json
/idoles.json
/montures.json
/objets d'apparat.json
/panoplies.json
/ressources.json
